@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --cyan-1: #ecfeff;
    --cyan-2: #cffafe;
    --cyan-3: #a5f3fc;
    --cyan-4: #67e8f9;
    --cyan-5: #22d3ee;
    --cyan-6: #06b6d4;
    --cyan-7: #0891b2;
    --cyan-8: #0e7490;
    --cyan-9: #155e75;
    --cyan-10: #164e63;
    --cyan-11: #083344;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 80px repeat(2, 33%) ;
    background-color: var(--cyan-9);
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    color: var(--cyan-3);

}

.menu {
    display: grid;
    align-items: start;
    justify-content: center;
    font-size: 1.5rem;
    gap: 1rem;
    
}

.menu li {
    list-style-type: none;
    color: var(--cyan-3);
}

.menu a {
    text-decoration: none;
    color: var(--cyan-3);
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: auto 1fr / 1fr 1fr;
    padding: 0.5rem 2rem;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px gray;
}

.search {
    margin-top: 0.5rem;
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    color: var(--cyan-10);
}

.search input {
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 80%;
    margin-left: 0.5rem;
}

.profile {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}
.search span,
.profile span {
    font-size: 1.5rem;
}

.profile-image {
    height: 3rem;
    width: 3rem;
}

.welcome {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    gap: 0.5rem 1rem;
}

.profile-image-large {
    grid-row: 1/3;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
}

.welcome p {
    margin: 0;
    align-self: flex-end;
    font-weight: bold;
}

.project-title {
    margin: 1rem 0 0 2rem; 
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.function-btn {
    background-color: var(--cyan-10);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, var(--cyan-11) 0px 1px 2px;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    color: var(--cyan-1);
    text-decoration: none;
}

.function-btn:hover {
    background-color: var(--cyan-11);
}

.main-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: lightgray;

}

.projects {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 1rem;
    margin: 0 1rem 2rem 2rem;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    border-left: 8px solid var(--cyan-10);
}

.card p {
    font-size: 0.85rem;
}

.icons {
    display: flex;
    gap: 15px;
    justify-content: right;
    margin-top: 10px;
}

.icons a span {
    color: #111;
    font-size: 1.2rem;
}

.announcements-and-trending {
    grid-column: 3;
    display: grid;
    
}

.announcements {
    background-color: #fff;
    margin: 0 2rem 0 0;
    border-radius: 10px;
    padding: 2rem;
}

.announcements p {
    font-size: 0.75rem;
    padding-top: 0.2rem;
}
.announcements-title {
    grid-column: 3;
    margin-top: 1rem;

}
.item {
    padding-bottom: 1rem;
    border-bottom: 1px solid darkgray;
}

.trending {
    display: grid;
    margin: 0 2rem 2rem 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 2rem 1rem 2rem;
}

.trending-title {
    margin-top: 2rem;
}

@media screen and (max-width: 1100px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
    }
}